PORT=5000
MONGODB_URI=MONGODB_URI=mongodb+srv://shelflife:ShelfLifeDev2026@YOUR_ATLAS_HOST/shelflife?retryWrites=true&w=majority

JWT_ACCESS_SECRET=replace-with-a-long-random-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace-with-a-different-long-random-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d
LIBRARIAN_REGISTRATION_KEY=replace-with-a-private-registration-key-in-production
CLIENT_URL=http://localhost:5173
NODE_ENV=development